<!-- <div class="container">
  <p>
    home works!
  </p> -->
  <!-- <div class="car" *ngFor="let i of 10">
  car
</div> -->
  <!-- <button class="btn btn-primary btn-sm pull-right" data-target="#loginModal" data-toggle="modal">Login</button>
  <div class="modal" id="loginModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="inputUserName">User Name</label>
              <input class="form-control" placeholder="Login Username" type="text" id="inputUserName">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input class="form-control" placeholder="Login Password" type="password" id="inputPassword">
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary">Login</button>
              <button class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
 
<!-- </div> -->
<mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>dialog demo</h1>
      </mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <button button="Submit" mat-raised-button (click)="openDialog()" color="primary" matTooltip="click to Login" matTooltipPosition="above">Login</button>
      <hr>
      <strong>Result:{{dialogResult}}</strong>
    </mat-card-content>
  </mat-card>